@import url("modern-normalize.css");
@import url("text.css");

::-moz-selection {
  background: #e6dedc;
  color: #53465c
}

::selection {
  background: #e6dedc;
  color: #50465c
}

b {
  font-weight: 400;
  text-shadow: 0 0 1px currentColor;
  transition: .1s color, .1s text-shadow
}

.input-prompt {
  flex: 1 1 auto;
  padding: 0;
  margin: 0;
  display: inline-block;
  border: none !important;
  background-color: transparent;
  color: inherit;
  outline: none
}

.silentlink {
  color: inherit;
  text-decoration: none;
  text-shadow: none
}

a {
  color: #8d64ee;
  text-shadow: 0 0 .5px #8d64ee;
  transition: .1s color, .1s text-shadow;
  cursor: pointer
}

a:hover {
  color: #9075f0;
  text-shadow: 0 0 1px currentColor;
}


@keyframes blinker {
  0% {
    opacity: 1
  }

  49.9% {
    opacity: 1
  }

  50% {
    opacity: 0
  }

  to {
    opacity: 0
  }
}

.underline {
  text-decoration: underline
}

pre {
  margin: 0;
  padding: 0
}

.command {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 8px
}

.command-symbol {
  flex: 0 0 auto
}

body {
  font-family: ibm_vga, monospace;
  background-color: #14101a;
  color: #e6dedc;
  padding: 1em;
}

html {
  margin: 0;
  padding: 0
}

.neofetch {
  display: flex;
  flex-direction: row;
  height: min-content;
  padding: 1em;
  gap: 1em
}

.neofetch-text {
  max-width: 600px
}

.neofetch-img {
  height: 8em;
  width: auto
}

#discord:after {
  display: none;
  content: "maxus#8805 \1F4CB";
  color: #5f4372;
  text-decoration: none !important;
  text-shadow: none
}

#discord:hover:after {
  display: inline;
  position: relative;
  margin-left: 6px;
  color: transparent;
  background-color: #494563;
  background-clip: text;
  -webkit-background-clip: text
}

.underline {
  text-decoration: underline;
}

@media screen and (max-width: 550px) {
  .neofetch {
    flex-direction: column
  }

  .neofetch-text {
    max-width: none
  }

  .neofetch-img {
    height: 60%;
    width: 60%;
    margin: 0 4em
  }
}